@media screen and (max-width: 992px) {
  .file-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .file-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .file-title {
    font-size: 14px;
  }
}