@media screen and (max-width:1200px) {
  .footer {
    &-top {
      &__container {
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width:992px) {
  .footer {
    &-top {
      &__container {
        gap: 30px;
        flex-direction: column;
      }
    }
    &-nav {
      gap: 0;
      flex-direction: column;
    }
    &-menu {
      position: relative;
      max-width: 300px;
      h5 {
        transition: all .3s ease;
      }
      ul {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        display: none;

        transition: all .5s ease;
        z-index: 10;
      }

      &.has-child {
        h5 {
          position: relative;
          padding-right: 20px;
          &:after {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-bottom: 1px solid white;
            border-right: 1px solid white;

            position: absolute;
            right: 0;
            top: 40%;
            transform: translateY(-50%) rotate(45deg);
            transition: all .3s ease;
          }
        }
      }

      &:hover {
        h5 {
          margin-bottom: 15px;
          &:after {
            transform: translateY(-50%) rotate(-135deg);
            top: 60%;
          }
        }
        ul {
          max-height: 500px;
          opacity: 1;
          visibility: visible;
          padding-bottom: 10px;
        }
      }
    }
    &-bottom {
      padding-bottom: 80px;
      &__container {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .footer {
    &-top {
      padding: 30px 0 25px;
      &__container {
        gap: 30px;
        flex-direction: column;
      }
    }
    &-banner {
      &__left {
        width: 100%;
        font-size: 14px;
        justify-content: center;
      }
      &__right {
        width: 100%;
        max-width: 100%;
      }

      &__container {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width:425px)  {
  .footer {
    &-banner {
      &__right {
        flex-direction: column;
        gap: 10px;
        button {
          width: 100%;
        }
      }
    }
  }
}