@media screen and (max-width: 992px) {
  .header {
    margin: 0;
    &-bottom, &-right {
      display: none;
    }
    &-left {
      gap: 18px;
    }
    &-top {
      padding: 17px 0;
      border-bottom: 1px solid #303030;
    }
    &-title {
      max-width: 250px;
      font-size: 10px;
      span {
        font-size: 12px;
      }
    }
    &-logos {
      gap: 8px;
      a:first-child {
        width: 58px;
        height: 70px;
      }
      a:last-child {
        width: 85px;
        height: 70px;
      }
    }
    &-mobile {
      display: flex !important;
      background: var(--accent);
      padding: 15px 0;
      .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;

        width: 100%;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}