@media screen and (max-width: 576px) {
  .resources {
    padding-bottom: 60px;
    position: relative;
    overflow: visible;
    .container {
      overflow: visible;
    }
    &-divider {
      display: none;
    }
    &-slider {
      overflow: visible;
      .prev, .next {
        position: absolute;
        z-index: 5;
        bottom: 0;
        margin: 0;

        width: 38px;
        height: 38px;
        svg {
          transform: scale(3);
        }
      }
      .prev {
        right: 50%;
        transform: translateX(-10px);
      }
      .next {
        left: 50%;
        transform: translateX(10px);
      }
    }
  }
}