.footer {
  margin-top: 60px;
  background: var(--darkGrey);
  &-top {
    padding: 70px 0 35px;
    border-bottom: 0.5px solid white;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  &-right {
    max-width: 320px;
  }
  &-bvi {
    max-width: 269px;
    padding: 12px 10px;

    display: flex;
    align-items: center;
    gap: 5px;

    color: #FFF;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #FFF;
    line-height: 1;
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: 20px;
    &:hover {
      opacity: 0.7;
    }
  }
  &-phone {
    display: inline-flex;
    align-items: flex-start;
    gap: 7px;

    margin-bottom: 25px;
    &__ico {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__content {
      display: flex;
      flex-direction: column;

      color: #FFF;
      font-family: var(--font-family);
      font-size: 16px;
      font-weight: 500;
      span:last-child {
        color: #FFF;
        font-family: var(--font-family);
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
  &-email {
    display: inline-flex;
    align-items: flex-start;
    gap: 7px;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    &__ico {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
  &-address {
    display: flex;
    align-items: flex-start;
    gap: 7px;

    color: #FFF;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;
    &__ico {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
  &-logos {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;
    a {
      &:first-child {
        width: 95px;
        height: 115px;
      }
      &:last-child {
        width: 176px;
        height: 146px;
      }
    }
  }
  &-title {
    max-width: 339px;
    color: white;
    font-size: 16px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    span {
      font-size: 24px;
      font-weight: 700;
    }
  }
  &-menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    a {
      color: #FFF;
      font-family: var(--font-family);
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      position: relative;
      span {
        color: #FFF;
        font-family: var(--font-family);
        font-size: 10px;
        font-weight: 300;

        position: absolute;
        bottom: -12px;
        left: 0px;
        white-space: nowrap;
        text-transform: none;
      }
    }
    .has-child {
      > a {
        padding-right: 15px;
        &:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-bottom: 1px solid white;
          border-right: 1px solid white;

          position: absolute;
          right: 0;
          top: 40%;
          transform: translateY(-50%) rotate(45deg);
          transition: all .3s ease;
        }
      }
      &:hover {
        > a {
          &:after {
            top: 55%;
            transform: translateY(-50%) rotate(-135deg);
          }
        }
        .sub-menu {
          opacity: 1;
          visibility: visible;
          max-height: 1000px;
        }
      }
    }
    .sub-menu {
      width: 200px;
      position: absolute;
      z-index: 10;
      background: var(--accent);
      padding: 10px;

      display: flex;
      flex-direction: column;
      gap: 5px;

      transition: all .3s ease;

      opacity: 0;
      visibility: hidden;
      max-height: 0;
      a {
        display: block;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        text-transform: none;

        padding: 10px 10px 15px 0;
        &:after {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-bottom: 1px solid white;
          border-right: 1px solid white;

          position: absolute;
          right: 0;
          top: 45%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }

      li:not(:last-child) {
        border-bottom: 1px solid white;
      }
    }
  }
  &-bottom {
    padding: 30px 0 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &-kontur {
    display: flex;
    align-items: center;
    gap: 10px;
    &__left {
      display: flex;
      flex-direction: column;
      gap: 5px;
      a {
        color: #FFF;
        font-family: var(--font3);
        font-size: 13.672px;
        font-weight: 400;
        line-height: 16.8px; /* 122.88% */
      }
    }
    &__right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-policy {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 13.234px;
    font-weight: 400;
    line-height: 16.8px; /* 126.942% */
    max-width: 182px;
  }
  &-copy {
    max-width: 336px;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
  }
}