.header {
  margin-bottom: 6px;
  &-top {
    padding: 15px 0 20px;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  }
  &-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &-logos {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      &:first-child {
        width: 95px;
        height: 115px;
      }
      &:last-child {
        width: 176px;
        height: 146px;
      }
    }
  }
  &-title {
    max-width: 400px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    span {
      font-weight: 700;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &-bvi {
    color: #000;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  &-phone {
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: all .3s ease;
    &__top {
      color: #000;
      font-size: 20px;
      font-weight: 700;

      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__bottom {
      color: #000;
      font-size: 12px;
      font-weight: 300;
      max-width: 168px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &-bottom {
    background: var(--accent);
    padding: 20px 0;
  }
  &-menu {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    li {
      padding: 0;
      margin: 0;
      position: relative;
      a {
        position: relative;
        transition: all .3s ease;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    > li {
      a {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    .has-descr {
      span {
        display: block;
        color: #FFF;
        font-size: 10px;
        font-weight: 300;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        text-transform: none;
      }
    }
    .has-child {
      > a {
        padding-right: 15px;
        &:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-bottom: 1px solid white;
          border-right: 1px solid white;

          position: absolute;
          right: 0;
          top: 40%;
          transform: translateY(-50%) rotate(45deg);
          transition: all .3s ease;
        }
      }
      &:hover {
        > a {
          &:after {
            top: 55%;
            transform: translateY(-50%) rotate(-135deg);
          }
        }
        .sub-menu {
          opacity: 1;
          visibility: visible;
          max-height: 1000px;
        }
      }

      .sub-menu {
        width: 200px;
        position: absolute;
        background: var(--accent);
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 5px;

        transition: all .3s ease;

        opacity: 0;
        visibility: hidden;
        max-height: 0;
        a {
          display: block;
          color: #FFF;
          font-size: 14px;
          font-weight: 400;
          text-transform: none;

          padding: 10px 10px 15px 0;
          &:after {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border-bottom: 1px solid white;
            border-right: 1px solid white;

            position: absolute;
            right: 0;
            top: 45%;
            transform: translateY(-50%) rotate(-45deg);
          }
        }

        li:not(:last-child) {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}