.news {
  margin-bottom: 150px;
  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
  }
  &-title {
    white-space: nowrap;
    margin: 0;
  }
  &-divider {
    width: 100%;
    height: 1px;
    background: var(--accent);
  }
  &-more {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;

    transition: all .3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
  &-list {
    display: grid;
    grid-template: minmax(270px, auto) / repeat(4, 1fr);
    grid-auto-rows: minmax(270px, auto);
    gap: 24px;
  }
  &-item {
    position: relative;
    border-radius: 3px;
    transition: all .3s ease;
    overflow: hidden;
    &__img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;

        position: absolute;

        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.90) 100%);
      }
    }
    &__inner {
      position: relative;
      z-index: 5;
      padding: 10px;

      height: 100%;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
    }
    &__content {
      padding-bottom: 9px;
      border-bottom: 1px solid white;
    }
    &__date {
      color: #FFF;
      font-family: var(--second-family);
      font-size: 14px;
      font-weight: 400;

      padding-left: 20px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;

        background: var(--accent);

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__title {
      color: #FFF;
      font-family: var(--second-family);
      font-size: 14px;
      font-weight: 400;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}