@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --accent: #8f2f73;
  --darkGrey: #303030;
  --lightGrey: #f0f0f0;

  --font-family: "Montserrat", sans-serif;
  --second-family: "PT Serif", sans-serif;
  --third-family: "Arial", sans-serif;
  --font3: "Inter", sans-serif;
}